/* место для вашего кода */

.page {
  font-weight: 400;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr 130px 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
}

.header__links-list {
  display: flex;
  list-style: circle;
}

.header__links-item {
  margin-right: 33px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__link {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__links-list-item_no-bullit {
  padding: 0;
  list-style: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 136px;
}

.address {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.header__address {
  justify-self: right;
  max-width: 240px;
}

.address-link {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  justify-content: space-between;
  height: 100%;
}

.cover__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aligned-text {
  display: block;
}

.aligned-text_left .letter-spacing-extended {
  padding-left: 30px;
}

.aligned-text_center {
  margin-top: 12px;
  margin-bottom: 5px;
  text-align: center;
}

.aligned-text_center .letter-spacing-extended {
  padding-left: 30px;
  letter-spacing: 60px;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_right .letter-spacing-extended {
  padding-right: 30px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 81px;
  margin-top: 128px;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 127%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  max-width: 257px;
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 25px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  flex: 1 0 333px;
  min-height: 596px;
}

.card {
  height: 100%;
  padding: 50px 40px;
  background-position: center;
  background-size: cover;
}

.card-link {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more {
  margin: 30px 0 0 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.lots__look-more-link {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 0 19px 90px;
}

.about__logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 148px;
  margin: auto;
}

.about__content {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 118%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 90px 50px;
}
.footer__address {
  max-width: 240px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.footer__link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 0 48px;
  list-style: none;
}

.footer__social-list img {
  width: 48px;
  height: 48px;
}
